@use  './1-abstracts/fonts';
@use './1-abstracts/functions' as func;
@use './1-abstracts/mixins' as mixin;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);

:root {
    // Length
    --header-margin: #{func.toRem(35px)};
    
    // Time
    --btn-transition: 200ms;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    //debug
    background-color: gray;
}

img {
    display: block;
}

.container {    
    width: func.toRem(562px);
    min-width: func.toRem(360px);
    display: flex;
    flex-flow: column nowrap;
    background-color: white;


    @include mixin.breakpoint-up(small) {
        width: 100%;
        max-width: func.toRem(720px);
    }
}
