@use  './1-abstracts/fonts';
@use './1-abstracts/functions' as func;
@use './1-abstracts/mixins' as mixin;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap);

:root {
    // Length
    --mobile-header-margin: #{func.toRem(35px)};
    --desktop-header-margin: calc(var(--mobile-header-margin) + #{func.toRem(5px)});
    --desktop-section-gap: #{func.toRem(120px)};  // Content,
    
    // Time
    --btn-transition: 200ms;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

img {
    display: block;
}

.container {
    width: 100%;
    min-width: func.toRem(360px);
    max-width: func.toRem(1440px);
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}
