@use './1-abstracts/colors';
@use './1-abstracts/fonts';
@use './1-abstracts/functions' as func;
@use './1-abstracts/mixins' as mixin;

:root {   
    // Font size
    --mobile-body-font-size: #{fonts.$size-sm};
    --mobile-headline-font-size: #{fonts.$size-xxlg};
    --mobile-btn-font-size: #{fonts.$size-sm};
    --desktop-body-font-size: #{fonts.$size-xsm};
    --desktop-headline-font-size: #{fonts.$size-xlg};
    // Font color
    --body-color: #{colors.$very-dark-cyan};
    --footer-color: white;

}

html {
    font-size: 100%;
}

input {
    font-size: fonts.$size-lg;

    @include mixin.breakpoint-up(large) {
        font-size: fonts.$size-xxsm;
    }

    @include mixin.breakpoint-up(xlarge) {
        font-size: fonts.$size-xsm;
    }

    @include mixin.breakpoint-up(xxxlarge) {
        font-size: fonts.$size-sm;
    }
}

.container {
    font-family: fonts.$font-opensans, sans-serif;
    font-size: var(--mobile-body-font-size);
    text-align: center;
    color: var(--body-color);
}

.btn {
    text-align: center;
}

.primary {
    color: white;
    font-weight: 600;
    font-size: fonts.$size-xsm;

    @include mixin.breakpoint-up(medium) {
        // font-size: fonts.$size-xsm;
    }

    // @include mixin.breakpoint-up(large) {
    //     font-size: fonts.$size-xxsm;
    // }
}

.headline {
    font-family: fonts.$font-poppins;
    font-size: var(--mobile-headline-font-size);
    font-weight: 700;
    text-shadow: 0 0 func.toRem(1px) rgba($color: colors.$very-dark-cyan, $alpha: 0.5) ;

    @include mixin.breakpoint-up(large) {
        font-size: fonts.$size-xlg;
    }

    @include mixin.breakpoint-up(xlarge) {
        font-size: fonts.$size-xxlg;
    }

    @include mixin.breakpoint-up(xxxlarge) {
        font-size: fonts.$size-xxxlg;
    }
}

.text {
    font-size: var(--mobile-body-font-size);
    text-shadow: 0 0 func.toRem(1px) rgba($color: colors.$very-dark-cyan, $alpha: 0.5) ;

    @include mixin.breakpoint-up(large) {
        font-size: fonts.$size-sm;
    }

    @include mixin.breakpoint-up(xxlarge) {
        font-size: fonts.$size-md;
    }
}

.cta {
    .headline {        
        font-size: fonts.$size-xxxlg;

        @include mixin.breakpoint-up(small) {
            font-size: fonts.$size-xxlg;
        }

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xlg;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-xxlg;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-xxxlg;
        }
    }

    .sub-headline {
        line-height: 1.4em;
        font-size: fonts.$size-lg;

        @include mixin.breakpoint-up(small) {
            font-size: fonts.$size-md;            
        }

        @include mixin.breakpoint-up(medium) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-md;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-xlg;
        }
    }
}

.stats {
    .number {
        color: colors.$very-dark-cyan;
        font-size: fonts.$size-xxxxxxlg;
        font-weight: 700;

        @include mixin.breakpoint-up(medium) {
            font-size: fonts.$size-xxxxxlg;
        }

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxxxxxlg;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-xxxxxxxlg;
        }
    }

    .text {
        color: rgba($color: colors.$very-dark-cyan, $alpha: 0.6);
    }
}

.section {
    @include mixin.breakpoint-up(large) {
        text-align: left;
    }

    .text {
        font-size: fonts.$size-lg;

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-xsm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-md;
        }
    }
}

.footer {
    --line-height: 1.8em;
    color: var(--footer-color);
    text-align: left;

    .text {
        line-height: var(--line-height);
        font-size: fonts.$size-lg;

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxxsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-xsm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-md;
        }
    }

    .btn {
        font-size: fonts.$size-md;

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxxsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-xxsm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-xsm;
        }
    }

    .error-msg {        
        color: colors.$light-red;

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-xsm;
        }
    }

    .phone, .email {
        font-size: fonts.$size-lg;

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-md;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-lg;
        }
    }

    .phone {

        @include mixin.breakpoint-up(large) {
            font-size: fonts.$size-xxxsm;
        }

        @include mixin.breakpoint-up(xlarge) {
            font-size: fonts.$size-xsm;
        }

        @include mixin.breakpoint-up(xxlarge) {
            font-size: fonts.$size-sm;
        }

        @include mixin.breakpoint-up(xxxlarge) {
            font-size: fonts.$size-md;
        }
    }
}