@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;
@use '../1-abstracts/mixins' as mixin;

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    

    .cta {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 79.2%;  

        .headline {
            width: 89.3%;
        }

        .sub-headline {
            margin-top: func.toRem(48px);
            
            @include mixin.breakpoint-up(medium) {
                margin-top: func.toRem(16px);
                width: 75%;
            }

            @include mixin.breakpoint-up(xlarge) {
                width: 70%;
            }
        }

        .btn {
            margin-top: func.toRem(72px);
            width: 68%;
            max-width: func.toRem(303px);
        }

    }

    .image {
        margin-top: func.toRem(156px);
        width: 80%;
        max-width: func.toRem(1000px);

        @include mixin.breakpoint-up(medium) {
            margin-top: var(--desktop-section-gap);
            width: 70%;
        }

        img {
            width: 100%;
        }
    }
}