@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;
@use '../1-abstracts/mixins' as mixin;

.final-cta {
    height: func.toRem(595px);
    margin-top: func.toRem(110px);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include  mixin.breakpoint-up(large) {
        height: func.toRem(263px);
        margin-top: 0;
        justify-content: center;
    }

    @include  mixin.breakpoint-up(xlarge) {
        height: func.toRem(363px);
    }

    @include  mixin.breakpoint-up(xxlarge) {
        height: func.toRem(413px);
    }

    .headline {
        width: 65%;
    }

    .btn {
        margin-top: func.toRem(66px);
        width: 54%;

        @include  mixin.breakpoint-up(large) {
            margin-top: func.toRem(22px);
        }

        @include  mixin.breakpoint-up(xlarge) {
            margin-top: func.toRem(44px);
        }
    }

}