@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;
@use '../1-abstracts/mixins' as mixin;

.stats {
    margin-top: func.toRem(184px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include mixin.breakpoint-up(small) {
        margin-top: var(--desktop-section-gap);
    }

    @include mixin.breakpoint-up(medium){
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    & > div {
        display: flex;
        flex-flow: column nowrap;
        padding-top: func.toRem(44px);
        height: func.toRem(200px);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position-y: top 15%;

        @include mixin.breakpoint-up(medium) {
            height: func.toRem(140px);
        }

        @include mixin.breakpoint-up(medium) {
            height: func.toRem(180px);
        }

        &:first-child {
            background-image: url(../../../images/icon-communities.svg);   
        }

        &:last-child {
            margin-top: func.toRem(120px);
            background-image: url(../../../images/icon-messages.svg);

            @include mixin.breakpoint-up(small) {
                margin-top: var(--desktop-section-gap);;
            }

            @include mixin.breakpoint-up(medium) {
                margin-top: 0;
            }
        }
    }
}