@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;
@use '../1-abstracts/mixins' as mixin;

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    

    .cta {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 79.2%;        

        .headline {
            width: 89.3%;
        }

        .sub-headline {
            margin-top: func.toRem(48px);
            
            @include mixin.breakpoint-up(medium) {
                margin-top: func.toRem(16px);
            }
        }

        .btn {
            margin-top: func.toRem(72px);
            width: 68%;

            @include mixin.breakpoint-up(small) {
                --primary-btn-width: calc(#{func.toRem(303px)} + #{func.toRem(356px)});
                width: calc(var(--primary-btn-width) - 80%);
                min-width: 0;
            }
        }

    }

    .image {
        margin-top: func.toRem(156px);
        width: 80%;

        img {
            width: 100%;
        }
    }
}