@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;
@use '../1-abstracts/mixins' as mixin;


.footer {
    padding: 0 func.toRem(40px) func.toRem(65px);
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    @include mixin.breakpoint-up(large) {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: func.toRem(140px) func.toRem(58px) func.toRem(58px);        
        padding-top: 0;
        
    }
    .footer-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        left: 0;

        background:
            url(../../../images/bg-footer-top-mobile.svg) top / 100% 8% no-repeat,
            linear-gradient(white 7%, colors.$very-dark-cyan 7%, colors.$very-dark-cyan);  

        @include mixin.breakpoint-up(large) {
            width: 100vw;
            left: calc(calc(-50vw + 50%) - 8.5px);

            background:
                url(../../../images/bg-footer-top-desktop.svg) top / 100% 8% no-repeat,
                linear-gradient(white 8%, colors.$very-dark-cyan 8%, colors.$very-dark-cyan);  
        }
    }
    
    .newsletter {
        z-index: 1;
        margin-top: func.toRem(170px);

        @include mixin.breakpoint-up(large) {
            width: func.toRem(260px);
            margin-top: func.toRem(140px);
        }

        .text {
            margin-top: func.toRem(35px);
            
            @include mixin.breakpoint-up(large) {
                margin-top: func.toRem(14px);
            }
        }

        .subscription {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
            margin-top: func.toRem(50px);

            @include mixin.breakpoint-up(large) {
                --border-radius: #{func.toRem(3px)};
                --height: #{func.toRem(24px)};
                margin-top: func.toRem(20px);
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
            }

            .email {                
                width: 100%;

                @include mixin.breakpoint-up(large) {
                    width: func.toRem(160px);
                }
    
                input {           
                    width: 100%;         
                    height: func.toRem(72px);
                    padding: 0 1.5rem;                    
                    border-radius: func.toRem(10px);
                    border: none;

                    @include mixin.breakpoint-up(large) {
                        height: var(--height);
                        border-radius: var(--border-radius);
                        width: func.toRem(160px);
                        padding: 0 .75rem;
                    }
    
                    &::placeholder {
                        opacity: 0.3;
                    }
    
                    &:focus {
                        border: 2px solid colors.$pink;
                        outline: none;
                    }

                    &:focus:invalid, &:invalid {
                        border: 2px solid colors.$light-red;
                    }
                }

                .error-msg {
                    max-height: 0;
                    overflow: hidden;
                    margin-left: func.toRem(5px);
                    margin-top: func.toRem(10px);
                    opacity: 0.6;
                    transition: max-height var(--btn-transition) ease-in-out;

                    @include mixin.breakpoint-up(large) {
                        margin-top: func.toRem(5px);
                    }
                }
                
                input:invalid ~ .error-msg {
                    max-height: func.toRem(30px);                    
                }
            }

            .btn {
                margin-top: func.toRem(22px);
                width: 50%;
                box-shadow: none;
                border-radius: func.toRem(10px);
                min-width: 0px;

                @include mixin.breakpoint-up(large) {
                    margin-top: 0;
                    width: func.toRem(80px);
                    height: var(--height);
                    border-radius: var(--border-radius);
                    padding: 3px;
                }

                &:hover, &:focus{
                    filter: brightness(1.5);
                    box-shadow: none;
                }
            }
        }
    }

    .contact {
        --icon-padding-right: #{func.toRem(22px)};
        margin-top: func.toRem(155px);
        z-index: 1;

        @include mixin.breakpoint-up(large) {
            margin-top: 0;
            width: func.toRem(200px);            
            margin-top: func.toRem(140px);
        }

        .logo {
            width: 100%;
            
            svg {
                width: 62%;
                height: auto;
                path {
                    fill: white;
                }

                @include mixin.breakpoint-up(large) {
                    width: 75%;              
                }

            }
        }

        .text {
            margin-top: func.toRem(30px);
            
            @include mixin.breakpoint-up(large) {
                margin-top: func.toRem(12px);                
            }
        }

        .phone, .email {
            display: flex;
            align-items: center;

            img {
                display: inline-block;
                padding-right: var(--icon-padding-right);
                height: func.toRem(28px);

                @include mixin.breakpoint-up(large) {
                    height: func.toRem(10px);
                    padding-right: func.toRem(12px);
                }
            }            
        }

        .phone {
            margin-top: func.toRem(60px);

            @include mixin.breakpoint-up(large) {
                margin-top: func.toRem(14px);
            }
        }

        .email {
            margin-top: func.toRem(40px);

            @include mixin.breakpoint-up(large) {
                margin-top: func.toRem(12px);
            }
        }

        .social-media {
            margin-top: func.toRem(70px);
            display: flex;

            @include mixin.breakpoint-up(large) {
                margin-top: func.toRem(30px);
            }

            svg {
                width: func.toRem(36px);
                height: func.toRem(36px);

                @include mixin.breakpoint-up(large) {
                    width: func.toRem(24px);
                    height: func.toRem(24px);
                }
                
                path {
                    fill: white;
                    transition: fill var(--btn-transition) ease-in-out;
                }

                &:nth-child(2n+1) {
                    background-color: white;
                    border-radius: func.toRem(5px);
                    margin-top: func.toRem(3px);
                    transition: background-color var(--btn-transition) ease-in-out;

                    @include mixin.breakpoint-up(large) {
                        margin-top: func.toRem(2px);
                    }

                    path {
                        fill: colors.$very-dark-cyan;
                    }

                    @include mixin.hoverNfocus() {
                        background-color: colors.$dark-cyan;
                    }
                }

                &:nth-child(2){
                    --icon-insta-side: #{func.toRem(42px)};
                    width: var(--icon-insta-side);
                    height: var(--icon-insta-side);
                    padding: 0;

                    @include mixin.breakpoint-up(large) {
                        --icon-insta-side: #{func.toRem(28px)};
                        width: var(--icon-insta-side);
                        height: var(--icon-insta-side);
                    }

                    @include mixin.hoverNfocus() {
                        path {
                            fill: colors.$dark-cyan;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-right: var(--icon-padding-right);
                }

                &:first-child {
                    padding: func.toRem(4px) 0 func.toRem(4px) func.toRem(10px);

                    @include mixin.breakpoint-up(large) {
                        padding: func.toRem(3px) 0 func.toRem(3px) func.toRem(5px);
                    }
                }

                &:last-child {
                    padding: func.toRem(6px);
                    
                    @include mixin.breakpoint-up(large) {
                        padding: func.toRem(4px);
                    }
                }
            }
        }
    }
}