@use '../1-abstracts/colors';
@use '../1-abstracts/fonts';
@use '../1-abstracts/functions' as func;

.headline {
    text-align: center;
    font-family: fonts.$font-poppins;
    font-size: fonts.$size-xxlg;
    font-weight: 700;
    text-shadow: 0 0 func.toRem(1px) rgba($color: colors.$very-dark-cyan, $alpha: 0.5) ;
}