
// === Families === 

// --- Heading ---
$font-poppins: "Poppins";

// --- Body ---
$font-opensans: "Open Sans";


// == Size ==
$size-xxxsm: 0.625rem; //10px
$size-xxsm: 0.75rem; // 12px
$size-xsm: 0.875rem; // 14px
$size-sm: 1rem; // 16px
$size-md: 1.125rem; // 18px
$size-lg: 1.25rem; // 20px
$size-xlg: 1.5rem; // 24px
$size-xxlg: 1.75rem; // 28px
$size-xxxlg: 2.5rem; // 40px
$size-xxxxlg: 3rem; // 48px
$size-xxxxxlg: 4rem; // 60px